.flexdatalist-results {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ccc !important;
    border-top: none;
    background: #fff;
    z-index: 100000;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        border-bottom: 1px solid #ccc;
        padding: 8px 15px;
        font-size: 14px;
        line-height: 20px;
        span.highlight {
            font-weight: 700;
            text-decoration: underline;
        }
        &.active {
            background: $main-color;
            color: #fff;
            cursor: pointer;
        }
        &.no-results {
            font-style: italic;
            color: #888;
        }
        &.group {
            background: #F3F3F4;
            color: #666;
            padding: 8px 8px;
        }
        .group-name {
            font-weight: 700;
        }
        .group-item-count {
            font-size: 85%;
            color: #777;
            display: inline-block;
            padding-left: 10px;
        }
    }
}

.flexdatalist-multiple {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    cursor: text;
    &:before {
        content: '';
        display: block;
        clear: both;
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    &.disabled {
        background-color: #eee;
        cursor: default;
    }
    li {
        display: inline-block;
        position: relative;
        margin: 5px;
        float: left;
        &.input-container,
        &.input-container input {
            border: none;
            height: auto;
            padding: 0 0 0 4px;
            line-height: 24px;
        }
        &.value {
            background: #eee;
            color: #777;
            display: inline-block;
            line-height: 25px;
            padding: 5px 25px 5px 10px;
            font-size: 15px;
            cursor: default;
            border-radius: 20px;

            span.fdl-remove {
                font-weight: 700;
                padding: 2px 5px;
                font-size: 20px;
                line-height: 20px;
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 0;
                opacity: 0.70;
                transform: translateY(-50%);
                &:hover {
                    opacity: 1;
                }
            }
        }
        &.toggle {
            cursor: pointer;
            transition: opacity ease-in-out 300ms;
            &.disabled {
                text-decoration: line-through;
                opacity: 0.80;
            }
        }
    }
}

