$main-color:#ff8800;
$sec-color:#232f3e;
$green:#88a92e;
$red:#e04f67;

$dir: rtl;
$dir-inverse: ltr;
$align: right;
$align-inverse: left;

$font-family: "samim", arial;
$icon-font-family: "satal";
$font-size: 14px;
$border-radius: 3px;

$down-icon: '\e900';
$up-icon: '\e901';
$right-icon: '\e902';
$left-icon: '\e903';

$min_small: "min-width: 480px";
$min_medium: "min-width: 768px";
$min_large: "min-width: 992px";
$min_xlarge: "min-width: 1200px";
$max_small: "max-width: 479px";
$max_medium: "max-width: 767px";
$max_large: "max-width: 991px";
$max_xlarge: "max-width: 1199px";

@mixin media($size, $size1:'') {
  @if $size1 != '' {
    @media only screen and (#{$size}) and (#{$size1}) { @content; }
  } @else {
    @media only screen and (#{$size}) { @content; }
  }
}